{% set isActive = app.current_route == routeName %}

<a
    class="
        flex items-center space-x-2 py-1 hover:font-semibold group
        {% if isActive %}
            border-r-4 border-r-red-600 pr-20 font-semibold
        {% endif %}
    "
    {% if routeName %}
    href="{{ path(routeName) }}"
    {% else %}
    href="#"
    {% endif %}
>
    <svg 
        class="
            h-5 w-5 
            {% if isActive %}fill-red-600{% endif %} 
            group-hover:fill-red-600
        "
        {{ svgAttributes|default('')|raw }}
    >
        {{ svgContent|raw }}
    </svg>
    <span>{{ text }}</span>
</a>

